<div id="container">
  <div style="padding-top: 55px;" class="row">
    <div id="weather" style="padding-top: 10px;padding-left: 50px;">
      <!-- <label for="weather">{{desc}}</label>
      <label for="city">{{temp}}</label>
      <label for="city">{{cityName}}</label> -->
      <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-md-4 col-sm-12 col-xs-12">
                <div class="card p-4">
                    <div class="d-flex">
                        <h3 class="flex-grow-1">{{cityName}}</h3>
                        <h3>{{currentTime | date:'shortTime'}}</h3>
                    </div>
                    <div class="d-flex flex-column temp mt-5 mb-3">
                        <h2 class="mb-0 font-weight-bold" id="heading"> {{temp}}° C </h2> <span style="margin-top: 5px;" class="small grey">{{desc  | titlecase}}</span>
                    </div>
                    <div class="d-flex">
                        <div class="temp-details flex-grow-1">
                            <p class="my-1"> <img src="https://i.imgur.com/B9kqOzp.png" height="17px"> <span> 40 km/h </span> </p>
                            <p class="my-1"> <i class="fa fa-tint mr-2" aria-hidden="true"></i> <span> 84% </span> </p>
                            <p class="my-1"> <img src="https://i.imgur.com/wGSJ8C5.png" height="17px"> <span> 0.2h </span> </p>
                        </div>
                        <div> <img src="https://i.imgur.com/Qw7npIg.png" width="100px"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
  </div>
    <div style="margin-top:14%" id="image">
        <ngb-carousel *ngIf="images">
            <ng-template ngbSlide *ngFor= "let elem of newsDetails">
              <img class="mh-100" style="width: 100%; height: 120vh" [src]="elem.urlToImage" alt="Random first slide">
              <div class="carousel-caption">
                <h2 style="color:white;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">{{elem.title}}</h2>
              </div>
            </ng-template>
          </ngb-carousel>      
    </div>

    <div style="margin-top: 4px;margin-left: 15px;margin-bottom: 10px;" class="card-group">
      <div class="card" *ngFor="let elem of newsDetails"> 
        <div class="card-body">
          <a href="{{elem.url}}">
          <h2 class="card-title">{{elem.title}}</h2> </a>
          <p class="card-text">{{elem.description}}</p>
          <p class="card-text"><small class="text-muted">Last updated {{elem.lastUpdate}} mins ago.</small></p>
        </div>
      </div>
    </div>

</div>
