
<!--Implement username and email to show-->
<form (submit)="handleSubmit()">
    <h1>Add News</h1>
    <div class="form-group">
      <label for="title">Title</label>
      <input appHighlight type="text" id="title" class="form-control" name="title" [(ngModel)]="title">
    </div>
  
    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        appHighlight
        id="description"
        class="form-control"
        rows="5"
        name="description"
        [(ngModel)]="description"
      ></textarea>
    </div>

    <div class="form-group">
        <label for="url">Url</label>
        <input appHighlight type="text" id="url" class="form-control" name="url" [(ngModel)]="url">
      </div>

      <div class="form-group">
        <label for="urlToImage">Url To Image</label>
        <input appHighlight type="text" id="urlToImage" class="form-control" name="urlToImage" [(ngModel)]="urlToImage">
      </div>

      <div class="form-group">
        <label for="publishedAt">Published At</label>
        <input appHighlight type="text" id="publishedAt" class="form-control" name="publishedAt" [(ngModel)]="publishedAt">
      </div>
  
    <button class="btn btn-primary">Add</button>
  </form>
  