<div class="container">
    <div class="avenue-messenger ">
        <div class="chat">
            <div class="chat-title">
                <h1>Username</h1>
                <input class="message-input" type="text" [(ngModel)] = 'username' placeholder="Username">    
            </div>    
            <div class="messages">
                <div class="messages-content">
                <div *ngFor ="let msg of messageList">
                    <div class="message">
                        <p>{{msg.username}}</p>
                        <p>{{msg.body}}</p>
                    </div>
                </div>
                </div>
            </div>
            <div class="message-box">
                <input class="message-input" type="text" [(ngModel)] = 'message.body' placeholder="Message">
                <button class="message-submit" (click)="SendMessage()"> Send </button>
            </div>
        </div>
    </div>
</div>