

<div style="padding-top: 80px" class="container">
    <div class="row">
        <p style="font-size: 30px;color: gray;">Want to meet us. Please find our location.</p>
    </div>
    <div class="row" >
        <div class="column">
            <div id="map">
            </div>
        </div>
        <div class="column" >
            <h2 style="color: grey;">Tata Consultancy Services</h2>
            <p style="color: #292f33;">TCS combines tech expertise and business intelligence to catalyze change and deliver results.Tata Consultancy Services (TCS) is an Indian multinational information technology services and consulting company, headquartered in Mumbai, Maharashtra, India and largest campus and workforce in Chennai, Tamil Nadu, India.As of May 2021, TCS is the largest company in the IT sector in the world by market capitalisation of $169.2 billion. It is a subsidiary of the Tata Group and operates in 149 locations across 46 countries.</p>
        </div>
    </div>
    <br>
    <br>

</div>
