<!-- Contact -->
<div style="margin-top: 25px" class="contacs">
    <section class="container">

        <!--Contact heading-->
        <h1 style="padding-top:11%;font-size: 48px;" class="h1 m-0"> <b>How Can We Help? </b></h1>
        <!--Contact description-->
        <p style="padding-top:15px" class="pb-4">Feel free to contact us by telephone or email and we will be sure to
            get back to you as soon as possible. For all other enquiries, please fill the form below.</p>

        <div class="row">

            <!--Grid column-->
            <div class="col-lg-5 mb-4">

                <!--Form with header-->
                <div class="card border-secondary rounded-0">

                    <div class="card-header p-0">
                        <div class="bg-secondary text-white text-center py-2">
                            <h3><i class="fa fa-envelope"></i> Write to us:</h3>
                            <p class="m-0">We'll definitely get back to you.</p>
                        </div>
                    </div>
                    <div class="card-body p-3">

                        <!--Body-->
                        <form #myForm="ngForm" (ngSubmit)="addPost(myForm)">
                            <div class="form-group">
                                <label>Your Name</label>
                                <div class="input-group">
                                    <div style="padding-top: 7px;padding-right: 5px;"
                                        class="input-group-addon bg-light"><i class="fa fa-user text-secondary"></i>
                                    </div>
                                    <input type="text" class="form-control" id="inlineFormInputGroupUsername"
                                        placeholder="Full Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Your Email</label>
                                <div class="input-group mb-2 mb-sm-0">
                                    <div style="padding-top: 7px;padding-right: 5px;"
                                        class="input-group-addon bg-light"><i class="fa fa-envelope text-secondary"></i>
                                    </div>
                                    <input type="text" class="form-control" id="inlineFormInputGroupUsername"
                                        placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Contact Number</label>
                                <div class="input-group mb-2 mb-sm-0">
                                    <div style="padding-top: 7px;padding-right: 5px;"
                                        class="input-group-addon bg-light"><i
                                            class="fa fa-phone prefix text-secondary"></i></div>
                                    <input type="text" class="form-control" id="inlineFormInputGroupUsername"
                                        placeholder="Phone Number">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Message</label>
                                <div class="input-group mb-2 mb-sm-0">
                                    <div style="padding-top: 7px;padding-right: 5px;"
                                        class="input-group-addon bg-light"><i class="fa fa-pencil text-secondary"></i>
                                    </div>
                                    <textarea class="form-control"></textarea>
                                </div>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-secondary btn-block rounded-0 py-2"
                                    >Submit</button>
                            </div>
                            <div *ngIf="submitted" style="margin-top: 20px;" class="alert alert-info" role="alert">
                                Your message has been sent
                            </div>
                        </form>

                    </div>

                </div>
                <!--Form with header-->

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-7">

                <!--Google map-->
                <div class="mb-4">

                </div>

                <!--Buttons-->
                <div class="row text-center">
                    <div class="col-md-4">
                        <a class="bg-secondary px-3 py-2 rounded text-white mb-2 d-inline-block"><i
                                class="fa fa-map-marker"></i></a>
                        <p>Tata Consultancy Services NJ 08837<br> United States</p>

                    </div>

                    <div class="col-md-4">
                        <a class="bg-secondary px-3 py-2 rounded text-white mb-2 d-inline-block"><i
                                class="fa fa-phone"></i></a>
                        <p>+ 1(234)-567-8900, <br> Mon - Fri, 10:00-18:00</p>
                    </div>

                    <div class="col-md-4">
                        <a class="bg-secondary px-3 py-2 rounded text-white mb-2 d-inline-block"><i
                                class="fa fa-envelope"></i></a>
                        <p>team2@tcs.com <br> </p>
                    </div>
                </div>

            </div>
            <!--Grid column-->
        </div>
    </section>
</div>